@import "style/vars";

.container {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}

.no-click {
  pointer-events: none;
}

*:focus {
  outline: none;
}

.btn {
  min-width: 150px;
  margin: 10px;
  padding: 8px 20px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: $transition;
  &-primary {
    color: #fff;
    background-color: $blue;
    &:hover {
      background-color: darken($blue, 10%);
    }
    &.active {
      background-color: lighten($blue, 10%);
      pointer-events: none;
    }
  }
}